<div id="<%= dom_id actor %>">
  <p>
    <strong>Name:</strong>
    <%= actor.name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= actor.birth_date %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= actor.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= actor.weight %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= actor.gender %>
  </p>

  <p>
    <strong>Blood type:</strong>
    <%= actor.blood_type %>
  </p>

</div>
